@{
    Layout = "_Layout";
}

<div class="container">
    <h3>Add New Stylist</h3>
    <form class="form-inline" action="/stylist/create" method="post">
        <div class="form-group">
            <label for="new-stylist-name">Enter stylist's name:</label>
            <input type="text" name="new-stylist-name">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <hr>
    <button type="button" class="btn btn-info"><a href="/">View all stylists</a></button>
</div>
