@{
    Layout = "_Layout";
}

<div class="container">
    <h3>Add a new stylist:</h3>
    <form action="/stylist/create" method="post">
        <label for="new-stylist-name">Enter Stylist's Name:</label>
        <input type="text" name="new-stylist-name">

        <button type="submit">Submit</button>
    </form>

    <button type="button"><a href="/">View all stylists</a></button>
</div>
