@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Epicodus Hair Salon</h1>
      <hr>
      <h3>@Model.GetName() 's clients:</h3>
      @if (Model.GetClients().Count == 0)
      {
        <p><em>No clients found.</em></p>
      }
      else
      {
        <div class="translucent">
          <ul class="list-group">
            @foreach (var client in Model.GetClients())
            /* button does not yet work */
            {
              <li class="list-group-item">@client.GetName()<form class="delete-stylist" action="" method="post"><button type="submit" class="btn btn-warning">Delete</button></li>
            }
          </ul>
        </div>
      }
      <button type="button" class="btn btn-success"><a href="/client/add/@Model.GetId()">Add a new client</a></button>
      <button type="button" class="btn btn-info"><a href="/">View all stylists</a></button>
    </div>
  </div>
</div>
