@* view specialty details, incl. list of stylists with this specialty *@
@{
    Layout = "_Layout";
}
<div class="container">
    <h1>Epicodus Hair Salon</h1>
    <h3>Stylists specializing in @Model.GetName():</h3>
    @if(@Model.GetStylists().Count == 0)
    {
        <p><em>None found.</em></p>
    }
    else
    {
        <ul class="list-group">
            @foreach(var stylist in @Model.GetStylists())
            {
                <li class="list-group-item"><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a></li>
            }
            </ul>
    }
    <button type="button" class="btn btn-info"><a href="/">Back to main view</a></button>
</div>
