body {
    background: url("../img/kareya-saleh.jpg") no-repeat;
    background-size: 100%;
}

form.delete-stylist {
    display: inline-block;
    float: right;
}

.btn-warning {
    padding: 0px 12px;
}

.btn a
{
    color: white;
}
