body {
    background: url("../img/kareya-saleh.jpg") no-repeat;
    background-size: 100%;
}

form.delete-one {
    display: inline-block;
    float: right;
}

.btn-warning {
    padding: 0px 12px;
}

.btn a
{
    color: white;
}

a {
  color: gold;
}

.list-group-item {
    background: rgba(50, 100, 100, 0.5);
}

h3 {
    color: yellow;
    border-radius: 25px;
    text-align: center;
    background: rgba(100, 10, 150, 1);
}

.container {
    background: rgba(185, 95, 225, 0.8);
}

.delete-all {
    float: right;
}
