@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Epicodus Hair Salon</h1>

    <h3>Select a stylist:</h3>
    <ul>
        @foreach(var stylist in Model)
        {
            <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a></li>
        }

        <hr>
        <button class="btn btn-info" type="button"><a href="/stylist/new">Add a new stylist</a></button>
        <form action="/stylist/delete-all" method="post">
            <button class="btn btn-danger" type="submit">Delete all stylists</button>
        </form>
    </ul>
</div>
