@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Epicodus Hair Salon</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Select a stylist:</h3>
      <ul class="list-group">
        @foreach(var stylist in Model)
        {
          <li class="list-group-item"><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a><form class="delete-one" action="/stylist/@stylist.GetId()/delete" method="post"><button type="submit" class="btn btn-warning">Delete</button></form></li>
        }
        <hr>
        <button class="btn btn-success" type="button"><a href="/stylist/add">Add a new stylist</a></button>
        <form class="delete-all" action="/stylist/delete-all" method="post">
          <button class="btn btn-danger" type="submit">Delete all stylists</button>
        </form>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Select a client:</h3>
      <ul class="list-group">
        @foreach(var client in Client.GetAll())
        {
          <li class="list-group-item"><a href="/client/@client.GetId()">@client.GetName()</a><form class="delete-one" action="/client/delete/@client.GetId()" method="post"><button type="submit" class="btn btn-warning">Delete</button></form></li>
        }
      </ul>
      <hr>
      <form class="delete-all" action="/client/delete-all" method="post">
        <button class="btn btn-danger" type="submit">Delete all clients</button>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <h3>Select a specialty:</h3>
          <ul class="list-group">
            @foreach(var specialty in Specialty.GetAll())
            {
              <li class="list-group-item"><a href="/specialty/@specialty.GetId()">@specialty.GetName()</a></li>
            }
          </ul>
          <button class="btn btn-success" type="button"><a href="/specialty/add">Add a new specialty</a></button>
      </div>
  </div>
</div>
