@{
    Layout = "_Layout";
}

<div class="container">
    <h3>Add a new stylist:</h3>
    <form action="/stylist/add" method="post">
        <label for="new-stylist-name">Enter Stylist's Name:</label>
        <input type="text" name="new-stylist-name">

        <button type="submit" name="submit-stylist">Submit</button>
    </form>

</div>
