@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Stylists Cleared</h1>
    <p>All stylists have been deleted from the database. We sure hope you meant to do that.</p>
    <a href="/">Back to home.</a>
</div>
