@{
    Layout = "_Layout";
}
<div class="container">
    <h1>@Model.GetName()</h1>
    <hr>
    <h4><strong>Clients:</strong></h4>
    <ul>
        @foreach (var client in Model.GetClients())
        {
            <li>@client.GetName()</li>
        }
    </ul>

    @* add link *@
    <p>Add a new client:</p>

    <button type="button"><a href="/">View all stylists</a></button>

</div>
