@{
    Layout = "_Layout";
}

<div class="container">
    <h3>Add a new client:</h3>
    <form class="form-inline" action="/client/create/" method="post">
        <p>Adding a new client for @Model.GetName():</p>
        <div class="form-group">
            <label for="new-client-name">Enter client's name:</label>
            <input type="text" name="new-client-name">
            <input type="hidden" name="stylistId" value="@Model.GetId()">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <button type="button" class="btn btn-warning"><a href="/stylist/@Model.GetId()">Back to @Model.GetName()'s page</a></button>
    <button type="button" class="btn btn-info"><a href="/">View all stylists</a></button>
</div>
